# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
dist
dist-ssr
coverage
*.local

# Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
.eslintcache

# Vite
*.timestamp-*-*.mjs

# Vercel
.vercel

# Env
.env*
!.env.example

# Monorepo
.turbo
docs/
